html,
body {
  padding: 0;
  margin: 0;
  
}

a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

a:hover {
   border-bottom: 1px solid #ccc;
}

body{
  background-color: #fff; 
}

header, footer{
   max-width: 1200px;
   text-align: center;
   margin: 20px auto 0;
}

main{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 50px;
}

footer{
   text-align: left;
   margin-top: 30px;
}

button{ 
   padding: 7px 15px;
   position: relative;
   cursor: pointer;
   font-family: "Bitter", serif;
   font-size: 1.1rem;
}

input{ 
   margin: 0px ;  
}

input[type=date]{
   border: none;
}

.todo-form input[type=text]{
   padding: 1rem .5rem;
   margin-right: 20px;
   margin-bottom: 0;
   font-family: "Bitter", serif;
   font-size: 1.2rem;
   border: none;
   width: 95%;
}

.todo-form input::placeholder{
   font-family: "Bitter", serif;
   font-size: 1.2rem;
}

/* Update list form */ 
ul.todo-list{
   text-align: left;
   margin-top: 20px;
   padding-left: 0;
}

ul.todo-list li{ 
   display: grid;
   align-items: center;
   grid-gap: 10px;
   list-style: none;
   margin-left: 0;
   border-bottom: 1px solid #ccc;
   margin-bottom: 15px;
   padding-left: 0;
   padding-bottom: 30px;
}


@media only screen and (max-width: 599px) {
   ul.todo-list li{
      position: relative;
   }

   ul.todo-list li input[type=radio]{ 
      position: absolute;
      left: -20px;
      top: 20px;
   }
}

@media only screen and (min-width: 600px) {
   ul.todo-list li{ 
      grid-template-columns: 1fr 11fr 3fr 2fr;
      justify-items: center;
      padding-bottom: 0px;
   }
}

ul.todo-list li input[type=radio]{
   width:15px;
   height: 15px;
}

ul.todo-list li input[type=date]{
   padding: 5px;
}

ul.todo-list li.overdue input[type=date]{
   border:1px solid red;
   color: red;
}

/* Add Form */ 

.todo-form {
   margin-top: 30px;
}

.todo-form .add-form {
   display: grid;
   grid-gap: 10px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 30px;
}

.todo-form .add-form button{
   margin: 10px;
}

.todo-form input.add-input[type=text]{
   border: 1px solid #ccc;
}

@media only screen and (min-width: 600px) {
   .todo-form .add-form {
      grid-template-columns: 12fr 3fr 2fr;
      justify-items: center;
      padding-bottom: 0px;
      padding-left: 10px;
   }

   .todo-form input.add-input[type=text]{
      border: none;
   }
}